html {
  font-size: 0.938em;
  font-family: Helvetica, Arial, sans-serif;
  color: $primary;
  background: $secondary;
}

body {
  margin: 0;
}

a {
  color: $tertiary;
  text-decoration: unset;
}

button {
  border: unset;
  cursor: pointer;
  padding: .5em .8em;
  margin-right: .5em;
  line-height: 1;

  &:focus {
    outline: unset;
  }
}

input:not([type="checkbox"]) {
  padding: .5em .8em;
  border: 1px solid $primary-medium;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
}

#main {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 1em;
}

.c-header {
  height: 3.5em;
  background: $primary;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  color: $secondary;
  position: sticky;
  top: 0;
  .wrap {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
  }
}

.nav {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;

  .nav-item {
    list-style: none;
    display: flex;
    font-size: $font-up-1;
    height: 100%;
    align-items: center;
    box-sizing: border-box;

    &.active {
      background: $tertiary;

      &:not(:last-child) {
        .nav-item-link {
        }
      }
    }
    .nav-item-link {
      padding: .5em 1em;
      color: $secondary;
    }
  }
}

.flash-notice-container {
  text-align: center;
  margin-bottom: 1em;

  .flash-notice {
    text-align: center;
    background: $tertiary-low;
    display: inline-block;
    padding: .5em 1em;

    &.error {
      background: $error-low;
    }
  }
}
