// font sizes adapted from Discourse
$font-up-6: 2.296em;
$font-up-5: 2em;
$font-up-4: 1.7511em;
$font-up-3: 1.5157em;
$font-up-2: 1.3195em;
$font-up-1: 1.1487em;
$font-0: 1em;
$font-down-1: 0.8706em;
$font-down-2: 0.7579em;
$font-down-3: 0.6599em;
$font-down-4: 0.5745em;
$font-down-5: 0.5em;
$font-down-6: 0.4355em;

$primary-color: #2C3E50;
$secondary-color: #FFFFFF;
$tertiary-color: #3E7DF7;
